
// Define your variable overrides here
$enable-shadows: true;
$enable-gradients: true;
$grid-breakpoints: (
  xs: 0,
  sm: 456px,
  md: 789px,
  lg: 999px,
  xl: 1234px
);
$bv-enable-table-stacked: false;

// Include Bootstrap and BootstrapVue SCSS files
// @import '~bootstrap/scss/bootstrap.scss';
// @import '~bootstrap-vue/src/index.scss';

// General style overrides and custom classes
body {
  margin: 0;
//   background-color: blue;
}

.navbar {
    top: 0;
    position: fixed;
    width: 100%;
    // background-color: blueviolet;
}

.navbar-nav {
    color: black;
}

.my-widget {
  color: var(--danger);
}

#signUpForm {
  width: 50%;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  margin: 100px 10px 10px 100px;
}

#home {
  padding-top: 500px;
}

#vehicleCard {
  margin: 100px;
}

#vehicleCard1 {
  margin: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 20px;
  
}

#bCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  min-width: 400px;
  margin: 0 auto;
  // background: #A0C5E8;
  padding: 10px 0;
  align-items: center;
  border-color: black;
}

#vehicleButtons {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  // width: 400px;
  height: 50px;
  margin: 0 5px;
}
#vehicle {
  display: flex;
  align-content: space-between;
}

#addVehicle {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#background {
  background-image: url('http://wallpapersexpert.com/data/out/50/3726661-mechanic-wallpapers.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  height:200px;width:1200px;
}

button {
  color:white;
  padding-bottom: 10px;
  margin: 5px;
}

.file-upload-form, .image-preview {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 20px;
}
img.preview {
  width: 200px;
  background-color: white;
  border: 1px solid #DDD;
  padding: 5px;
}